.p-arcTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 285px;
  overflow: hidden;
}
@media screen and (min-width: 1293px) {
  .p-arcTop {
    width: calc(100vw - 367px);
    height: calc(382px - 7.5vw);
    justify-content: center;
  }
}
.p-arcTop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000008f;
}
.p-arcTop .p-arcTop__title {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 600px) {
  .p-arcTop .p-arcTop__title {
    flex-direction: row;
  }
}
.p-arcTop .p-arcTop__title .p-arcTop__title__main {
  font-size: 36px;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .p-arcTop .p-arcTop__title .p-arcTop__title__main {
    font-size: 60px;
  }
}
.p-arcTop .p-arcTop__title .p-arcTop__title__sub {
  font-size: 24px;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .p-arcTop .p-arcTop__title .p-arcTop__title__sub {
    margin: auto 0;
  }
}
.p-arcTop .p-arcTop__img {
  width: auto;
  height: 1450px;
  position: relative;
}
@media screen and (min-width: 1293px) {
  .p-arcTop .p-arcTop__img {
    margin-left: auto;
  }
}
@media screen and (min-width: 1743px) {
  .p-arcTop .p-arcTop__img {
    width: 100%;
    height: auto;
  }
}