.c-bgcolor--offwhite {
  background-color: #FFF7EF;
}

.c-bgcolor--tpWhite {
  background-color: white;
  opacity: 0.8;
}

.c-bgcolor--white {
  background-color: white;
}

.c-bgcolor--brown {
  background-color: #9D8670;
}

.c-bgcolor--darkbrown {
  background-color: #3c2b1c;
}

.c-bgcolor--tpBlack {
  background-color: #0000008f;
}

.c-bgcolor--gray {
  background-color: #F2EDE9;
}

.c-bgcolor--gray2 {
  background-color: #808080;
}

.c-bgcolor--lightgray {
  background-color: #F5F5F5;
}