.p-card {
  padding: 4%;
}
@media screen and (min-width: 600px) {
  .p-card {
    width: 50%;
  }
}
.p-card .p-card__title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.p-card .p-card__text {
  margin-right: 10%;
  margin-bottom: 15px;
}
.p-card .p-card__text h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.p-card .p-card__text p {
  font-size: 16px;
}
.p-card .p-card__btn {
  margin: 7% 0 5% 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1293px) {
  .p-card .p-card__btn .p-card__btn__size {
    padding: 10px 50px;
  }
}