.p-frontTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 285px;
  overflow: hidden;
}
@media screen and (min-width: 835px) {
  .p-frontTop {
    height: auto;
  }
}
.p-frontTop .p-frontTop__title {
  position: absolute;
  left: 8%;
  font-size: 36px;
}
@media screen and (min-width: 835px) {
  .p-frontTop .p-frontTop__title {
    font-size: 4.32vw;
  }
}
@media screen and (min-width: 926px) {
  .p-frontTop .p-frontTop__title {
    font-size: 40px;
    left: 75px;
  }
}
@media screen and (min-width: 1293px) {
  .p-frontTop .p-frontTop__title {
    left: 6%;
  }
}
.p-frontTop .p-frontTop__img {
  width: auto;
  max-width: none;
  height: 327.77px;
}
@media screen and (min-width: 500px) {
  .p-frontTop .p-frontTop__img {
    width: 100vw;
    height: auto;
  }
}
@media screen and (min-width: 835px) {
  .p-frontTop .p-frontTop__img {
    margin-top: -16%;
    margin-bottom: -16%;
  }
}
@media screen and (min-width: 872px) {
  .p-frontTop .p-frontTop__img {
    width: 100%;
    height: auto;
  }
}