.c-scope {
  border: 1px solid #707070;
  padding: 4px;
  border-radius: 7px;
  font-size: 20px;
  background: url(img/scope.svg) 10px center no-repeat;
  background-size: 20px;
  background-color: white;
  width: -webkit-fill-available;
  height: 100%;
}