tbody {
  border-collapse: collapse;
}
tbody tr td {
  border: 1px solid #b7b7b7;
  padding: 20px;
}
tbody tr td:nth-child(1) {
  width: calc(30vw - 1.5px);
}
tbody tr td:nth-child(2) {
  width: calc(70vw - 1.5px);
}