html body main .p-singleCenter .wp-block-media-text {
  display: flex;
  align-items: flex-start;
  margin: 5% 0;
}
html body main .p-singleCenter .wp-block-media-text .wp-block-media-text__media {
  width: 35%;
}
html body main .p-singleCenter .wp-block-media-text .wp-block-media-text__content {
  width: 65%;
  padding: 0 2%;
}
html body main .p-singleCenter .wp-block-media-text.is-stacked-on-mobile {
  display: flex;
  align-items: flex-start;
  margin: 5% 0;
}
html body main .p-singleCenter .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 5% 0;
}