.c-underbar--w40px {
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
}

.c-underbar--w100px {
  display: block;
  width: 100px;
  height: 1px;
  background-color: white;
}

.c-underbar--vertical {
  display: block;
  width: 1px;
  height: 17px;
  background-color: white;
}