@use "breakpoints" as bp;

.p-pageTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 225px;
  overflow: hidden;
  @include bp.bp-mq(pad-376px) {
    height: 59.85vw;
  }
  @include bp.bp-mq(pc-835px){
    height: 500.34px;
  }

  .p-pageTop__title {
    position: absolute;
    left: 8%;
    font-size: 36px;
    @include bp.bp-mq(pad-500px) {
      font-size: 7.2vw;
    }
    @include bp.bp-mq(pc-835px) {
      font-size: 60px;
      left: 75px;
    }
    @include bp.bp-mq(pc-1293px) {
      left: 6%;
    }
  }

  .p-pageTop__img {
    width: 190%;
  
    @include bp.bp-mq(pc-835px) {
      height: 500px;
      width: auto;
    }
    @include bp.bp-mq(pc-1920px) {
      height: auto;
      width: 100%;
    }
  }
}
