.c-btn--search{
    background: linear-gradient(#F2EDE9,#DED8D3);
    border: 1px solid #707070;
    padding:5px 15px;
    border-radius: 7px;
    width: -webkit-fill-available;
}
.c-btn--oval{
    padding:8px 30px;
    border-radius: 25px;
    border: none;
   
}