.p-notFound {
  height: 1200px;
  .p-notFound__title {
    height: 200px;
    padding: 10%;
    background-color: rgb(112, 98, 80);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-notFound__text {
    padding: 10%;
  }
}
